:root {
    --colour-text: #fff;
    --colour-dark-blue: #13293d;
    --colour-light-green: rgb(158, 255, 214);
    --border-focus: #772014;
    --header-background: rgb(216, 162, 14);
    --body-background: #33393f;
    --active: red;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--body-background);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--colour-text)
}

/*header section*/
header {
    /*position: relative;*/
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    justify-content: space-around;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 25px;
    height: 125px;
    border-bottom: dashed var(--body-background);
    background-color: var(--header-background);
    color: var(--colour-dark-blue);
}

/*name and picture code*/
h1 {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7rem;
}

#font-large {
    margin-top: -0.25rem;
    margin-right: 0.35rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
}

/*align name and picture*/
.put-center {
    height: 35px;
    width: 100%;
    /*display: flex;*/
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
    line-height: 25px;
    background-color: var(--header-background);
    color: var(--colour-dark-blue);
    border-top: solid var(--border-focus);
    padding-top: 12px;
/*align name and picture*/
}

#self-portrait {
    position: absolute;
    top: 50px;
    width: 150px;
    /*display: flex;
    flex-wrap: wrap;*/
}

/*header link code*/
/*.header-left {
    margin-left: 5px;
    height: 100px;
    width: 95px;
    border: solid var(--colour-dark-blue);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.header-right {
    margin: 0px;
    height: 75px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}*/

/*main section*/
main {
    margin-top: 5px;
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;   
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    border-bottom: solid var(--header-background);
    border-radius: 8px;
    margin-top: 2px
}

/*if you remove this selector then the paragraph text will flex. not sure why?*/
#p-text {
    margin: 8px 0px;
    height: auto;
    width: 650px;
}

.main-list {
    height: auto;
    width: 250px;
    margin-left: 5px;
    padding-bottom: 0px;
}

/*pseudo element examples*/
#item:hover::before {
    font-family: Impact;
    content: '\273A';
    color: var(--header-background);
    margin-right: 5px;
}

/*aside section*/
/*align project boxes*/
#sub-right {
    height: auto;
    margin-top: -300px;
    padding: 25px 50px 0px 750px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#sub-left {
    height: auto;
    width: 750px;
    margin-top: -600px;
    padding: 0px 0px 0px 0px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

p {
    margin: 8px 0px;
}

/*align items in main project box*/
.main-project {
    height: 880px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-background);
    border: solid var(--header-background);
    border-radius: 1.5rem;
}

#main-image {
    height: auto;
    width: 595px;
    opacity: 75%;
}

#main-image:hover {
    height: auto;
    width: 620px;
    opacity: 75%;
    box-shadow: 0 0 100px var(--border-focus);
}

#main-image:active {
    box-shadow: 0 0 100px var(--active);
}

/*main project pseudo class*/
.main-project:active {
    outline: none;
    border-color: var(--border-focus);
    box-shadow: 0 0 100px var(--border-focus) inset;
}

.main-project:hover {
    background-color: var(--colour-dark-blue);
    color: var(--header-background);
}

/*.main-project:focus {
    outline: none;
    border-color: var(--colour-light-green)
}*/

/*aling items in sub project boxes*/
.sub-project {
    height: 270px;
    width: 280px;
    margin: 32px 16px 0px;
    padding: 0px 25px 0px;
    background-color: var(--body-background);
    border: dashed var(--header-background);
    border-radius: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

/*sub project pseudo class*/
.sub-project:active {
    outline: none;
    border-color: var(--border-focus);
    box-shadow: 0 0 100px var(--border-focus) inset;
}

.sub-project:hover {
    background-color: var(--colour-dark-blue);
    color: var(--colour-text);
    color: var(--header-background)
}

#sub-image {
    height: auto;
    width: 195px;
    opacity: 75%;
}

#sub-image:hover {
    height: auto;
    width: 200px;
    opacity: 75%;
    box-shadow: 0 0 100px var(--border-focus);
}

#sub-image:active {
    box-shadow: 0 0 100px var(--active);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: dashed var(--body-background);
    border-bottom: solid var(--border-focus);
    border-radius: 0px;
    margin-top: 35px;
    font-size: 25px;
    background-color: var(--header-background);
    color: var(--colour-dark-blue);
    height: 85px;
    width: 100%;
    font-size: 30px;
    line-height: 38px;
}
/*
@media screen and (max-width: 1500px) {
    .sub-project {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}*/

/*media queries*/

@media screen and (max-width: 1450px) {
    #p-text {
        margin: 8px 0px;
        height: auto;
        width: auto;
    }

    #sub-right {
        height: auto;
        margin-top: 0px;
        padding: 15px 25px 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #sub-left {
        height: auto;
        width: 100%;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main-project {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
        align-items: center;
        background-color: var(--body-background);
        height: 470px;
        width: 100%;
        margin-top: 0px;
        border: solid var(--header-background);
        border-radius: 1.5rem;
    }

    #main-image {
        height: auto;
        width: 395px;
        opacity: 75%;
    }

    #main-image:hover {
        height: auto;
        width: 405px;
        opacity: 75%;
    } 
    
    .sub-project {
        background-color: var(--body-background);
        height: 270px;
        width: 280px;
        margin: 32px 16px 0px;
        padding: 0px 25px 0px;
        border: dashed var(--header-background);
        border-radius: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    header {
        /*position: relative;*/
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        height: 165px;
      
    }

    .main-project {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
        align-items: center;
        background-color: var(--body-background);
        height: 350px;
        width: 100%;
        margin-top: 0px;
        border: solid var(--header-background);
        border-radius: 1.5rem;
    }

    #main-image {
        height: auto;
        width: 195px;
        opacity: 75%;
    }

    #main-image:hover {
        height: auto;
        width: 200px;
        opacity: 75%;
    }
}

@media screen and (max-width: 402px) {
    footer {
        height: 120px;
    }
}

@media screen and (max-width: 353px) {
    footer {
        height: 160px;
    }
}

@media screen and (max-width: 340px) {
    header {
        height: 200px;
      
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-me {
       position: relative;
       left: 35%;
    }

    /*#font-large {
        display: flex;
        height: 50px;
    }

    #second-name {
        display: flex;
        flex-direction: column-reverse;
        height: 50px;
        margin-right: 25px;
    }*/

    #self-portrait {
        display: flex;
        margin-top: 25px;
    }
}

@media screen and (max-width: 290px) {
    #main-image {
        height: auto;
        width: 95px;
        opacity: 75%;
    }
}



@media screen and (max-width: 230px) {
    header{
        height: 250px
    }

    #self-portrait {
        display: flex;
        margin-top: 45px;
    }
}
/*
@media screen and (max-width: 1500px) {
    .sub-right {
        /*display: flex;*/
        /*flex-wrap: wrap;*
        flex-direction: row;
    }
}

@media screen and (max-width: 1050px) {
    .sub-right {
        /*display: flex;*/
        /*flex-wrap: wrap;*
        flex-direction: column;
    }
}*/