:root {
    --colour-red: var(--colour-red)
}

* {
    margin: 2px 0px 2px 0px;
    padding: 0px;
}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    line-height: 25px;
}

img {
    position: absolute;
    top: 20px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-left {
    display: flex;
    flex-direction: row;
}

.header-right {
    display: flex;
    flex-direction: row-reverse;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}


