:root {
    --colour-text: #fff;
    --colour-dark-blue: #13293d;
    --colour-light-green: rgb(158, 255, 214);
    --border-focus: #772014;
}

* {
    margin: 2px 0px 2px 0px;
    padding: 0px;
}

/*header section*/
header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    line-height: 25px;
}

/*name and picture code*/
h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7rem;
}

.font-large {
    margin-top: -0.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

img {
    position: absolute;
    top: 28px;
    width: 150px;
    /*display: flex;
    flex-wrap: wrap;*/
}

/*header link code*/
.header-left {
    margin: 5px 45px 5px;
    display: flex;
    flex-direction: row;
}

.header-right {
    margin: -65px 45px 5px;
    display: flex;
    flex-direction: row-reverse;
}

/*main section*/
main {
    margin-top: 50px;
    /*display: flex;
    flex-wrap: wrap;*/
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.main-list {
    height: 105px;
    width: 250px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: solid #000;
}

/*pseudo classes example*/
.main-list:hover {
    background-color: var(--colour-dark-blue);
    color: var(--colour-text);
}

.main-list:focus {
    outline: none;
    border-color: var(--border-focus)
}

.main-list:active {
    font-size: 150%;
    box-shadow: 0 0 100px #000 inset;
}
/*pseudo classes example*/

/*pseudo element examples*/
li::before {
    font-family: Impact;
    content: '\273A';
    color: #772014;
    margin-right: 5px;
  }
  /*pseudo element examples*/

.main-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-light-green);
    margin: 5px 75px 0px;
    height: 150px;
    width: 300px;
    border: solid 
}

.main-project:hover {
    background-color: var(--colour-dark-blue);
    color: var(--colour-text);
}

.sub-right {
    /*margin-right: 150px;*/
    padding: 25px 350px 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.sub-project {
    background-color: var(--colour-light-green);
    height: 200px;
    width: 200px;
    padding: 0px 25px 0px;
    border: dashed;
}

.sub-project:hover {
    background-color: var(--colour-dark-blue);
    color: var(--colour-text);
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

@media screen and (max-width: 495px) {
    .header-left {
        background-color: red;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1320px) {
    .sub-project {
        display: flex;
        align-items: column;
        justify-content: center;
    }
}

/*

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  
  main {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }
  */
